@tailwind base;
@tailwind components;
@tailwind utilities;

.fc {
  width: 100% !important;
  /* Ensure the calendar spans the full width of its container */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

.fc .fc-col-header-cell-cushion {
  color: black;
  /* Change weekday names to black */
}

.fc .fc-daygrid-day-frame {
  border-radius: 10px;
  /* Adjust the radius as needed */
  overflow: hidden;
  /* Ensure the content stays within the rounded corners */
  border: 0;
  color: #666666;
  margin: 3px;
  background-color: rgba(255, 255, 255, 60%);
  transition: 0.2s;
}

.fc .fc-daygrid-day-frame:hover {
  background-color: rgba(255, 255, 255, 90%);
}


.fc .fc-daygrid-day.fc-day-today {
  border-radius: 10px;
  background-color: rgb(193, 160, 255);
}

.fc .fc-scrollgrid,
.fc .fc-col-header-cell,
.fc .fc-daygrid-day,
.fc .fc-toolbar,
.fc {
  border: 0;
  /* Remove all borders */
}

.fc-event {
  height: 1.15rem; /* Adjust this value to your desired height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
  border-radius: 50px;
  line-height: 50px; /* Align text vertically within the event box */
  overflow: hidden; /* Ensure content stays within the box */
}

.fc .fc-col-header-cell {
  background-color: #818cf899;
  color: #666666;
}

.fc td[role="presentation"] {
  border: none;
  /* Remove any borders */
}